<div class="row">
  <div class="col-sm-8">
    <div class="card bg-light border-light mb-3">
      <div class="card-body">
        <h5 class="card-title">User Login Component</h5>
        <div class="input-group input-group-lg" style="margin-top: 1rem;">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-lg">Username</span>
          </div>
          <input [(ngModel)]="username" type="text" class="form-control" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-lg">
        </div>
        <p class="username-result" style="margin-top: 1rem;">Your username is: <strong
            *ngIf="username">@{{username}}</strong></p>
        <button [disabled]="username ? null : 'disabled'" type="button" class="btn btn-primary"
          style="margin-top: 1rem;" (click)="onReset()">Reset</button>
      </div>
    </div>
  </div>
</div>