<div class="jumbotron">
  <h1 class="display-4">Task 3</h1>
  <p class="lead">Directives</p>
  <hr class="my-4">
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Add A button which says 'Display Details'</li>
    <li class="list-group-item">Add a paragraph with any content of your choice (e.g. 'Secret Password = tuna')</li>
    <li class="list-group-item">Toggle the displaying of that paragraph with the button created in the first step</li>
    <li class="list-group-item">Log all button clicks in an array and output that array below the secret paragraph
      (maybe log a timestamp or
      simply an incrementing number)</li>
    <li class="list-group-item">Starting at the 5th log item, give all future log items a blue background (via ngStyle)
      and white color
      (ngClass)</li>
  </ul>
  <a class="btn btn-primary btn-lg" href="https://angular.io/guide/built-in-directives" target="_blank" role="button"
    style="margin-top: 2rem; margin-bottom: 0rem;">Learn
    more</a>
</div>
<div class="container">
  <h2>Display Logger Component</h2>
  <app-display-logger></app-display-logger>
</div>