<div class="container-fluid">
  <div class="row">
    <div class="jumbotron">
      <h1 class="display-4">Task 1</h1>
      <p class="lead">Basic example of component creation</p>
      <hr class="my-4">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Create two new Components (manually or with CLI): WarningAlert and SuccessAlert</li>
        <li class="list-group-item">Output them beneath each other in the AppComponent</li>
        <li class="list-group-item">Output a warning or success message in the Components</li>
        <li class="list-group-item">Style the Components appropriately (maybe some red/ green text?)</li>
      </ul>
      <a class="btn btn-primary btn-lg" href="https://angular.io/cli/generate" target="_blank" role="button">Learn
        more</a>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="component-examples col-sm-6">
      <h1>WarningAlert component</h1>
      <app-warning-alert></app-warning-alert>
    </div>
    <div class="component-examples col-sm-6">
      <h1>SuccessAlert component</h1>
      <app-success-alert></app-success-alert>
    </div>
  </div>
</div>