<div class="card bg-light border-light">
  <div class="card-body">
    <div class="row">
      <div class="col-sm-6">
        <button (click)="onToggle()" class="btn btn-primary btn-lg btn-block">Display details</button>
        <div *ngIf="showDetails" class="alert alert-danger" role="alert" style="margin-top: 1rem;">
          <p><strong>Secret Password = tuna</strong></p>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-8">
            <h3>Log history</h3>
          </div>
          <div class="col-sm-4 text-right">
            <button class="btn btn-danger " [disabled]="!isNotEmpty()" (click)="onClear();">Delete logs <svg width="1em"
                height="1em" viewBox="0 0 16 16" class="bi bi-trash-fill" fill="currentColor"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                  d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z" />
              </svg></button>
          </div>
        </div>

        <div *ngIf="isNotEmpty();else noElements">
          <ul class="list-group">
            <li *ngFor="let item of logs; let i = index;" class="list-group-item" [ngClass]="{'blue-background': i >=4}"
              [ngStyle]="{color: i >=4 ? 'white' : 'auto'}"><strong>Entry
                {{item.id}}:</strong> {{!item.isShown ? 'Show details' : 'Hide details'}} at
              <i>{{item.date | date:'medium'}}</i></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #noElements>
  <div class="alert alert-warning" role="alert">
    <h4 class="alert-heading">No logs registered</h4>
    Click on the <strong>Display details</strong> button to start logging.
  </div>
</ng-template>